<mat-toolbar color="primary">
    <span class="fill-remaining-space">Report</span>
</mat-toolbar>

<div class="container col-md-4 margin-top-20" novalidate>

    <form [formGroup]="formGroup" class="form">
        <mat-form-field class="form-element">
            <input matInput [matDatepicker]="dpFrom" placeholder="From Month and Year" formControlName="from">
            <mat-datepicker-toggle matSuffix [for]="dpFrom"></mat-datepicker-toggle>
            <mat-datepicker #dpFrom startView="year" (yearSelected)="chosenYearHandler('from', $event)"
                (monthSelected)="chosenMonthHandler('from', $event, dpFrom)">
            </mat-datepicker>
            <mat-error *ngIf="!formGroup.controls['from'].valid && formGroup.controls['from'].touched">
                Month is required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
            <input matInput [matDatepicker]="dpTo" placeholder="To Month and Year" formControlName="to">
            <mat-datepicker-toggle matSuffix [for]="dpTo"></mat-datepicker-toggle>
            <mat-datepicker #dpTo startView="year" (yearSelected)="chosenYearHandler('to', $event)"
                (monthSelected)="chosenMonthHandler('to', $event, dpTo)">
            </mat-datepicker>
            <mat-error *ngIf="!formGroup.controls['to'].valid && formGroup.controls['to'].touched">
                Month is required
            </mat-error>
        </mat-form-field>
    </form>

    <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [results]="dataSource" [gradient]="gradient"
        [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [autoScale]="autoScale">
    </ngx-charts-line-chart>
</div>