/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.margin-top-20{
    margin-top: 20px;
}
.mat-tab-label.mat-tab-disabled {
    cursor: default;
    position: fixed !important;
    right: 0px !important;
}
@import "~bootstrap/dist/css/bootstrap.min.css";
