
<mat-tab-group [selectedIndex]="selectedIndex">
  <mat-tab label="Balances">
    <app-balances> </app-balances>
  </mat-tab>
  <mat-tab *ngIf="userRole === 'Admin'" label="Upload">
    <app-upload> </app-upload>
  </mat-tab>
  <mat-tab *ngIf="userRole === 'Admin'" label="Report">
    <app-report> </app-report>
  </mat-tab>

  <mat-tab disabled >
    <ng-template mat-tab-label class="logout"> 
      <button mat-icon-button (click)="logout()">
        <label>Logout</label>
      </button>
    </ng-template>
  </mat-tab>
</mat-tab-group>