<div class="login-container">
  <div class="login-content">
    <mat-toolbar class="login-toolbar" color="primary">Login</mat-toolbar>
    <mat-card>
      <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-icon matPrefix>person_outline</mat-icon>
          <input autofocus type="text" matInput placeholder="Username" formControlName="username">
        </mat-form-field>

        <mat-form-field>
          <mat-icon matPrefix>lock_outline</mat-icon>
          <input type="password" autocomplete="false" matInput placeholder="Password" formControlName="password">
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary">Login</button>
      </form>
    </mat-card>
  </div>
</div>