<mat-toolbar color="primary">
    <span class="fill-remaining-space">Upload Balances</span>
</mat-toolbar>

<div class="container col-md-4 margin-top-20" novalidate>
    <form [formGroup]="formGroup" class="form">

        <mat-form-field class="form-element">
            <input matInput [matDatepicker]="dp" placeholder="Month and Year" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp startView="year" (yearSelected)="chosenYearHandler($event)"
                (monthSelected)="chosenMonthHandler($event, dp)">
            </mat-datepicker>
            <mat-error *ngIf="!formGroup.controls['date'].valid && formGroup.controls['date'].touched">
                Month is required
            </mat-error>
        </mat-form-field>

        <div class="form-element">
            <label for="file">Choose a file to upload: </label>
            <input #file id = "file-1" type="file" accept=".xlsx,.xls" formControlName="file">
        </div>

        <div class="form-element">
            <button mat-raised-button color="primary" class="button" (click)="uploadDocument(file.files)" [disabled]="!formGroup.valid">Upload</button>
        </div>

    </form>
</div>