<mat-toolbar color="primary">
  <span class="fill-remaining-space">View Balances</span>
</mat-toolbar>

<div class="container col-md-8 margin-top-20" novalidate>
  <div class="offset-md-4">
    <form [formGroup]="formGroup" class="form">
      <mat-form-field class="form-element">
        <input matInput [matDatepicker]="dp" placeholder="Month and Year" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp startView="year" (yearSelected)="chosenYearHandler($event)"
          (monthSelected)="chosenMonthHandler($event, dp)">
        </mat-datepicker>
        <mat-error *ngIf="!formGroup.controls['date'].valid && formGroup.controls['date'].touched">
          Month is required
        </mat-error>
      </mat-form-field>
    </form>
  </div>

  <mat-card>
    <mat-card-title>
      <div *ngIf="dataSource.length>0">Balances as of {{dataSource[0].monthYear | date:'MMMM yyyy'}}</div>
    </mat-card-title>
    <table>
      <mat-card-subtitle>
        <thead>
          <tr>
            <th *ngFor="let item of dataSource"> {{item.accountName}} </th>
          </tr>
        </thead>
      </mat-card-subtitle>
      <mat-card-content>
        <tbody>
          <tr>
            <td *ngFor="let item of dataSource"> {{item.amount| currency : 'Rs.' : 'code'  }} </td>
          </tr>
        </tbody>
      </mat-card-content>
    </table>
  </mat-card>
</div>